@import 'tailwindcss';

.col,
    .col-1,
    .row-span-3,
    .row-span-2,
    .col-span-2,
    .row-span-4,
    .col-span-1, .col-auto {
      background-color: aqua;
      border-style: dashed;
      border-width: 2px;
    }

    body {
        font-family: "Barlow Semi Condensed", sans-serif;
    }